<script src="/linker/js/colorpicker.min.js"></script>
<link rel="stylesheet" href="/linker/styles/colorpicker.css">


<div class="container">

    <div class="row clearfix">
        <!-- Left hand side, preview card -->
        <div class="col-md-5">
            <h2>Create: <%=cardType%> </h2></br>
            <canvas id="myCanvas" width="250" height="380" style="border:1px solid #000000;">
                Your browser does not support HTML5 Canvas element.
            </canvas>
        </div>


        <!-- Right hand side, card attributes -->
        <div class="col-md-5">

            <form class="form-horizontal" action="/card/create" method="post" style="margin-top: 50px">

                <input type="hidden" id="card-type" name="card_type" value="<%=cardType%>" />

                <div class="form-group">
                    <label for="title-box" class="control-label col-xs-4">Card Title</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="title-box" type="text" placeholder="My Name" name="title">
                    </div>
                </div>



                <div class="form-group">
                    <label for="text-color" class="control-label col-xs-4">Text Color</label>
                    <div class="col-xs-4">
                        <select id="text-color" class="form-control">
                            <option value="#000000">Black</option>
                            <option value="#FFFFFF">White</option>
                        </select>
                    </div>
                </div>


                <%if(cardType === 'planet'){%>
                    <div style="display: none">
                <%}%>


                        <div class="form-group">
                    <label for="cost-box" class="control-label col-xs-4">
                        <%if(cardType === 'resource'){%>
                            Amount
                        <%} else {%>
                            Cost
                        <%}%>
                    </label>
                    <div class="col-xs-4">
                        <input class="form-control" id="cost-box" type="text" placeholder="100" name="cost">
                    </div>
                </div>

                <%if(cardType === 'planet'){%>
                    </div>
                    <%}%>



                <%if(cardType !== 'ship' && cardType !== 'planet'){%>
                    <div style="display: none">
                <%}%>


                                <div class="form-group">
                                    <label for="cost-box" class="control-label col-xs-4">Attack</label>
                                    <div class="col-xs-4">
                                        <input class="form-control" id="atk-box" type="text" placeholder="100" name="atk">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="cost-box" class="control-label col-xs-4">Defense</label>
                                    <div class="col-xs-4">
                                        <input class="form-control" id="def-box" type="text" placeholder="100" name="def">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="cost-box" class="control-label col-xs-4">Modifier Slots</label>
                                    <div class="col-xs-3">
                                        <input class="form-control" id="mod-box" type="number" min="0" max="10" placeholder="0" name="mods">
                                    </div>
                                </div>

                <%if(cardType !== 'ship' && cardType !== 'planet'){%>
                </div>
                <%}%>



                <div class="form-group">
                    <label for="desc-box" class="control-label col-xs-4">Card Description</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="desc-box" type="text" name="desc" row="2" placeholder="Short Description"></textarea>
                    </div>
                </div>




                <div class="form-group">
                    <label for="title-box" class="control-label col-xs-4">Background Color</label>
                    <div class="col-xs-8">
                        <div id="color-picker" class="cp-small">
                            <div class="picker-wrapper">
                                <div id="picker" class="picker"></div>
                                <div id="picker-indicator" class="picker-indicator"></div>
                            </div>
                            <div class="slide-wrapper">
                                <div id="slide" class="slide"></div>
                                <div id="slide-indicator" class="slide-indicator"></div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label for="desc-box" class="control-label col-xs-4">Add Image</label>
                    <div class="col-xs-8">
                        <input type='file' id="imgInp" />
                    </div>
                </div>


                           <input type="hidden" id="image64-box" name="image64" value="" />
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />


                            </br>
                <button class="btn btn-large btn-success pull-right" type="submit" onclick="generateImage();" >Create Card</button>


            </form>

        </div>
    </div><!-- end row -->
</div>


<!-- Javascript required for ColorPicker -->
<script type="text/javascript">
    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext('2d');
    var img = new Image();
    var card_type = '<%= cardType %>';


    function generateImage(){
        //alert('here');
        var strDataURI = canvas.toDataURL();
        document.getElementById('image64-box').value = strDataURI;
    }



    function titleLine(){
        context.strokeStyle = document.getElementById('text-color').value;
        context.beginPath();
        context.moveTo(10,30);
        context.lineTo(240,30);
        context.stroke();
        context.lineWidth=1;
        context.fillStyle=document.getElementById('text-color').value;
        context.lineStyle="#ffff00";
        context.font="18px sans-serif";
        context.fillText('['+card_type.charAt(0).toUpperCase()+']', 222, 20);
    };

    function createTitle(){
            //context.clearRect(0, 0, 250, 28); //Creates White Boxes
            // Fill Text
            context.lineWidth=1;
            context.fillStyle=document.getElementById('text-color').value;
            context.lineStyle="#ffff00";
            context.font = "italic bold 16pt Courier";
            context.fillText(document.getElementById('title-box').value, 20, 20);
    };


    function addCost(){
        context.lineWidth=1;
        context.fillStyle=document.getElementById('text-color').value;
        context.lineStyle="#ffff00";
        context.font="20px sans-serif";
        context.fillText('\u20AC '+document.getElementById('cost-box').value, 10, 365);
    }

    function addATKnDEF(){
        context.lineWidth=1;
        context.fillStyle=document.getElementById('text-color').value;
        context.lineStyle="#ffff00";
        context.font="18px sans-serif";
        context.fillText(document.getElementById('atk-box').value+' / '+document.getElementById('def-box').value, 150, 365);
    }

    function drawMods(){
        var n = document.getElementById('mod-box').value;
        context.fillStyle=document.getElementById('text-color').value;
        for(i=0; i < n; i++) {
            var yBox = 230 - (i*11);
            //alert(yBox);
            context.fillRect (yBox, 36, 7, 7);
        }

    }

    function addDesc(){
        //// Add Line breaks.
        var words = document.getElementById('desc-box').value.split(' ');
        var line = '';
        var maxWidth = 200;
        var lineHeight = 12;
        var x = 30;
        var y = 305;

        context.lineWidth=1;
        context.fillStyle=document.getElementById('text-color').value;
        context.lineStyle="#ffff00";
        context.font="italic 11px Courier";

        for(var n = 0; n < words.length; n++) {
            var testLine = line + words[n] + ' ';
            var metrics = context.measureText(testLine);
            var testWidth = metrics.width;
            if (testWidth > maxWidth && n > 0) {
                context.fillText(line, x, y);
                line = words[n] + ' ';
                y += lineHeight;
            }
            else {
                line = testLine;
            }
        }
        context.fillText(line, x, y);
    }


    cp = ColorPicker(document.getElementById('slide'), document.getElementById('picker'),
            function(hex, hsv, rgb, mousePicker, mouseSlide) {
                currentColor = hex;
                ColorPicker.positionIndicators(
                        document.getElementById('slide-indicator'),
                        document.getElementById('picker-indicator'),
                        mouseSlide, mousePicker
                );
                //document.body.style.backgroundColor = hex;
                context.fillStyle = hex;
                context.fillRect( 0, 0, 250, 380 );
                titleLine();
                createTitle();
                addCost();
                addDesc();

               if( card_type === 'ship') {
                   addATKnDEF();
                   drawMods();
                }
                readURL( document.getElementById('imgInp') );
            });
    cp.setHex('#FAFAFA');


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#blah').attr('src', e.target.result);
                img.src = e.target.result;
                context.drawImage(img, 20, 50, 210, img.height*(210/img.width));
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });


    window.addEventListener('load', function () {
        titleLine();
        document.getElementById('title-box').oninput = function () {
            createTitle();
        };
        document.getElementById('cost-box').oninput = function () {
            addCost();
        };
        document.getElementById('desc-box').oninput = function () {
            addDesc();
        };
        document.getElementById('atk-box').onchange = function () {
            addATKnDEF();
        };
        document.getElementById('def-box').onchange = function () {
            addATKnDEF();
        };
        document.getElementById('mod-box').onchange = function () {
            drawMods();
        };
    }); //doc on load
</script>
<br class="clear"/>