        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <h3 class="text-left">
                        <%= user.username %>
                        <% if (user.admin) { %>
                            &mbsp;[Admin]
                        <% } %>
                    </h3><img alt="140x140" src="/images/blankUser.jpeg" class="img-rounded">
                    <p>
                        <strong>Since:</strong> <%= user.signupDate %></br>
                        <strong>Contact At:</strong> <%= user.email %>
                    </p>
                    <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
                </div>

            <div class="row">&nbsp;</br></div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-md-3">
                    <img alt="140x140" src="/images/deck-of-shadows.jpg"></br>
                    <a class="btn btn-medium btn-primary" href="/card/new/?type=resource">Create New Resource</a>
                </div>
                <div class="col-md-3">
                    <img alt="140x140" src="/images/deck-of-shadows.jpg">
                    <a class="btn btn-medium btn-primary" href="/card/new/?type=ship">Create New Ship</a>
                </div>
                <div class="col-md-3">
                    <img alt="140x140" src="/images/deck-of-shadows.jpg">
                    <a class="btn btn-medium btn-primary" href="/card/new/?type=planet">Create New Planet</a>
                </div>
            </div>

            <div class="row clearfix" style="margin-top: 50px; margin-bottom: 60px">
                <div class="col-md-3">
                    <img alt="140x140" src="/images/deck-of-shadows.jpg"></br>
                    <a class="btn btn-medium btn-primary" href="/card/new/?type=resource">Create New Logistics</a>
                </div>
                <div class="col-md-3">
                    <img alt="140x140" src="/images/deck-of-shadows.jpg">
                    <a class="btn btn-medium btn-primary" href="/card/new/?type=resource">Create New Modifier</a>
                </div>
                <div class="col-md-3">
                    <!--
                    <img alt="140x140" src="/images/deck-of-shadows.jpg">
                    <a class="btn btn-medium btn-primary" href="/card/new/?type=resource">Create New Planet</a>
                    -->
                </div>
            </div>

        </div>
        </body>