<div class='container'>



    <h1><%= user.username %> </h1>
    <% if (user.admin) { %>
        <!--img src="/images/admin.png"-->admin
    <% } else { %>
        <!--img src="/images/pawn.png"-->pawn
        <% } %>
        <h3><%= user.signupDate %> </h3>
        <hr>
        <h3>contact: <%= user.email %> </h3>

        <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>

        </div>






        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <h3 class="text-left">
                        h3. dolor sit amet.
                    </h3><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded">
                    <p>
                        Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                    </p>
                </div>
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Payment Taken
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Default
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Approved
                            </td>
                        </tr>
                        <tr class="success">
                            <td>
                                2
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                02/04/2012
                            </td>
                            <td>
                                Declined
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>
                                3
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                03/04/2012
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>
                                4
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                04/04/2012
                            </td>
                            <td>
                                Call in to confirm
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <img alt="140x140" src="http://lorempixel.com/140/140/">
                </div>
                <div class="col-md-4 column">
                    <img alt="140x140" src="http://lorempixel.com/140/140/">
                </div>
                <div class="col-md-4 column">
                    <img alt="140x140" src="http://lorempixel.com/140/140/">
                </div>
            </div>
        </div>
        </body>